[submodule "EasyS/vendor/spdlog"]
	path = EasyS/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "EasyS/vendor/GLFW"]
	path = EasyS/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
